div.page-devices
    ul
        each device in devices
            li(class="#{device.id}", data-dimensions="[#{device.dimensions}]", data-name="#{device.name}")
                    h3 #{device.name}
                    p #{device.dimensions[0]} • #{device.dimensions[1]}